* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
}

body {
  width: 100%;
  min-height: 100vh;
  margin:0;
  flex: 1 1;
}

#root{

}

.App{
  height: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: url("https://www.liverpool.ac.uk/media/livacuk/facultyofhealthandlifesciences/covid-hub-banner-1920.jpg");
  background-size: cover;
}