@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-height: 600px;
    box-shadow: 0 0 4px;
    margin: 0 10px;
    background-color: white;
    border-radius: 10px;
}
.form-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
    border-bottom: 1px solid black;
    flex:1 1;
}

.submit-btn{
    padding-top: 3px;
}

.submit-btn, .table-link{
    position: relative;
    height: 30px;
    max-width: 100px;
    font-size: 1.1rem;
    cursor: pointer;
    color: black;
    font-family: 'Hubballi', cursive;
    margin: 10px 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
}

.submit-btn:hover, .table-link:hover{
    transform: scale(1.2);
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover{
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.col{
    width: 300px;
    height: 600px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.col-1, .col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
}

.city-wrapper{
    position: relative;
}

.col-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zipcode-wrapper{
    margin-top: 80px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.calendar-wrapper{
    width: 95%;
}


.form-checkbox:nth-of-type(1){
    display: flex;
    flex-direction: column;
    height: 40%;
}

.form-checkbox:nth-of-type(2){
    display: flex;
    flex-direction: column;
    height: 60%;
}

label{
    font-family: 'Hubballi', cursive;
    font-size: 1.3rem;
    font-weight: 600;
}

.form-checkbox .container{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    height: auto;
    width: 120px;
}

.infected-checkbox label, .condition-checkbox label{
    margin-right: 5px;
}

.form-checkbox .conditions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.container label, .conditions label{
    font-weight: 100;
}

.success-msg{
    font-family: 'Hubballi', cursive;
    font-size: 1.5rem;
    color: green;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 30%;
}

.submit-btn, .table-link{
    font-size: 1.3rem;
}

@media (max-width: 939px){

    .form-container{
        top: 100px
    }
    .col-1, .col-2{
        border:none;
    }
}

@media (max-width: 624px){
    .form-content{
        justify-content: center;
    }

    .col{
        border: none;
        align-items: center;
    }
}

