@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

.flex-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    overflow-x: scroll;
    margin: 20px;
    border-radius: 10px;
    background: rgba(255,255,255,.6);
}

.backward-link{
    height: 50%;
    margin: 30px auto;
    width: 50px;
}

.edit-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.edit-on{
    background-color: black;
    color: white;
}

.filters-container{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    min-width: 65vw;
}

.filter-option{
    width: 200px;
    margin-left: 10px;
}

.by-city{
    width: 150px;
    margin-top: 15px;
}

.get-all-citizens{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}

.get-all-citizens:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: black;
}

.date-range-inputs{
    display: flex;
    justify-content: space-between;
    min-height: 60%;
    width: 100%;
}

.filter-option label{
    font-family: 'Hubballi', cursive;
    font-size: 1.4rem;
}

.filter-option input{
    font-family: 'Hubballi', cursive;
    font-size: 0.94rem;
    background: rgba(255,255,255,.6);
    margin-right: 15px;
}

.by-birth-date{
    width: 400px;
}

.submit-filters{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
    font-family: 'Hubballi', cursive;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
}

.submit-filters:hover{
    transform: scale(1.2);
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.no-results-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Hubballi', cursive;
    padding-right: 80px;
}


.table-options{
    display: flex;
    justify-content: space-around;
}

.flex-table thead {
    color: #fff;
    background: #a749ff;
    min-width: 1000px;
    margin-top: 20px;
}

.flex-table thead tr{
    padding-right: 10px;
}

tbody{
    min-width: 1000px;
}

.flex-table thead tr,
.flex-table tbody tr {
    display: flex;
    width: 100%;
}
.flex-table tbody tr+tr {
    border-top: 1px solid #ccc;
}
.flex-table thead tr th,
.flex-table tbody tr td {
    display: flex;
    flex: 1;
    padding: .4em;
    justify-content: start;
    font-family: 'Hubballi', cursive;
    font-size: 1.2rem;
}

.flex-table tbody a{
    text-decoration: none;
    color:black;
}

.row-container{
    display: flex;
    width: auto;
    border-bottom: 1px solid black;
}

.row-link{
    width: 100%;
}

.table-row:hover{
    background-color:#6770d214;
}

.table-row:nth-of-type(2n){
    background: red;
}

.table-row td{
    border-left: 1px solid black;
}

.table-first-name span{
    margin-right: 15px;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    height: 25px;
}

.delete-record{
    margin-top: 5px;
}