@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');


.title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 120px;
    margin: 50px auto;
    background: rgba(255,255,255,.2);
    box-shadow: 0 0 12px #333;
}

.title-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.title-container img{
    width: 100px;
    height: 120px;
}

.title-text{
    width: 300px;
    height: auto;
    font-size: clamp(0.5rem, 1rem + 10vw, 1.8rem);
    font-weight: 600;
    font-family: 'Hubballi', cursive;
}






