.loader {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px auto;
}

.loader-dot {
    display: block;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}